// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
	font-family: Nunito, sans-serif;
	margin: 0;
	padding: 0 50px;
}

.cat {
	display: inline-block;
	width: 100px;
}

.cat_show {
	margin: 30px 0;
	p {
		margin: 3px 0;
	}
	h2 {
		text-align: center;
	}
}

.cat_create_button {
	border: 1px solid black;
	padding: 5px 10px;
	color: black;
	font-size: 1rem;
	text-decoration: none;
	margin: 20px 0;
	display: inline-block;
}

.box {
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	line-height: 50px;
	margin: 5px;
	font-size: 2rem;
	font-weight: bold;
}


.header {
	li {
		display: inline-block;
		margin: 0 15px;
		cursor: pointer;
	}

	li:hover {
		text-decoration: underline;
	}

	li:first-child {
		font-weight: bold;
	}

}

.footer {
	background-color: darkgrey;
	margin-top: 50px;
}